@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 200, 200, 200;
  --background-rgb: 17, 17, 17;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  overflow-x: hidden;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.name-text {
  font-family: 'Helvetica Neue', Helvetica, 'Arial Nova', Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -0.05em;
}

.nav-link {
  @apply transition-colors duration-300;
}

.project-card {
  @apply border border-gray-800 py-8 px-8;
}

.input-field {
  @apply bg-transparent border-b border-gray-700 focus:border-gray-400 outline-none py-2 w-full transition-colors duration-300;
}

.social-link {
  @apply text-gray-500 hover:text-white transition-colors duration-300;
}
.scroll-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.prose :is(h1, h2, h3, h4, h5, h6) {
  font-weight: 700;
  margin-top: 8px;
}
.prose :is(h1) {
  font-size: 2em;
}
.prose :is(h2) {
  font-size: 1.5em;
}
.prose :is(h3) {
  font-size: 1.17em;
}
.prose :is(h4) {
  font-size: 1em;
}
.prose :is(h5) {
  font-size: 0.83em;
}
.prose :is(h6) {
  font-size: 0.67em;
}

.prose :is(p, li) {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  /* color: #374151; */
}

.prose :is(ul, ol) {
  list-style-type: disc;
  padding-left: 3rem;
}

.prose pre {
  max-inline-size: 100%;
  padding: 1rem;
  border-radius: 8px;
  tab-size: 2;
}

.prose a {
  color: #5a9bd6;
}

.prose a:hover {
  text-decoration: underline;
}
.prose blockquote {
  border-left: 4px solid gray;
  font-style: italic;
  font-weight: 500;
  padding-left: 16px;
  margin: 20px 0;
}
.prose figure + em {
  display: block;
  font-size: 14px;
  margin-bottom: 40px;
  border: none;
  padding: none;
  text-align: center;
}

.prose img {
  margin: 2rem auto;
}
